.todoFolder {
  position: relative;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  .count {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
  }
}
